/ServidorTCPInfracom/Archivos/grande.mp4
/ServidorTCPInfracom/Archivos/pequenio.mp4
/ServidorTCPInfracom/Archivos/*
ServidorTCPInfracom/Archivos/grande.txt
ServidorTCPInfracom/Archivos/pequenio.txt
ServidorTCPInfracom/Archivos/grande.txt
ServidorTCPInfracom/Archivos/pequenio.txt
